@media screen {
  * {
    text-decoration: none;
    box-sizing: border-box;
  }

  .btn {
    color: #000;
    background-color: lightgrey;
    display: block;
    text-align: center;
    border: 1px solid #000;
    font-size: calc(32 / 750 * 100vw);
    font-family: Arial;
    font-weight: bold;
  }
}

@media screen {
  #top {
    .top__wrapper {
      .subscribe-banner__container {
        position: fixed;
        z-index: 10;
        right: 0;
        bottom: 0;
        width: calc(240 / 750 * 100vw);
        height: calc(240 / 750 * 100vw);
        background-color: aquamarine;
        border-radius: 50%;

        .subscribe-banner__contents {
          width: 100%;
          height: 100%;
          font-size: calc(32 / 750 * 100vw);
          display: flex;
          /* １．aタグをflex要素にする */
          justify-content: center;
          /* ２．左右中央 */
          align-items: center;

          a {
            color: #000;
            font-weight: bold;
          }
        }
      }
    }
  }
}

@media screen {
  #form {
    h1 {
      text-align: center;
      margin-top: calc(60 / 750 * 100vw);
      font-size: calc(36 / 750 * 100vw);
      font-weight: bold;
    }

    input[type="text"] {
      display: block;
      width: 80%;
      margin-top: calc(15 / 750 * 100vw);
    }

    input[type="checkbox"] {
      display: inline-block;
    }


    .form__container {
      padding: calc(60 / 750 * 100vw) calc(30 / 750 * 100vw);

      .form__contents {
        width: 100%;
        border: 1px solid #000;

        .input__outer {
          padding: 0 calc(15 / 750 * 100vw);

          + .input__outer {
            margin-top: calc(40 / 750 * 100vw);
          }

          .input-check__list {
            display: block;
          }

          .input-check__item {
            margin-top: calc(15 / 750 * 100vw);

            label {
              display: block;
              position: relative;
              padding-left: 2em;
              line-height: 2em;

              input {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                margin: auto;
              }
            }
          }

          .question,
          label {
            font-size: calc(28 / 750 * 100vw);
          }
        }

        &:first-child {
          padding: calc(30 / 750 * 100vw) 0;
        }
      }

      .confirm-btn {
        width: calc(360 / 750 * 100vw);
        height: calc(90 / 750 * 100vw);
        line-height: calc(90 / 750 * 100vw);
        margin: calc(40 / 750 * 100vw) auto 0;
      }
    }
  }
}

@media screen {
  #confirm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 30vh 0;

    .confirm__wrapper {
      .confirm__container {

        .confirm__contents {
          width: 100%;
          border: 1px solid #000;
          padding: calc(30 / 750 * 100vw) 0;

          p {
            font-size: calc(28 / 750 * 100vw);
          }

          .notation p {
            text-align: center;
          }

          & :nth-child(2) {
            margin: calc(30 / 750 * 100vw) 0;
          }

          .confirm__outer {
            padding: 0 calc(15 / 750 * 100vw);


            + .confirm__outer {
              margin-top: calc(40 / 750 * 100vw);
            }

            .confirm__content--list {
              margin-top: calc(30 / 750 * 100vw);
            }

            .confirm__content {
              margin-top: calc(15 / 750 * 100vw);
              font-size: calc(28 / 750 * 100vw);
            }
          }
        }
      }

      .btn__container {
        display: flex;
        justify-content: center;
        column-gap: calc(60 / 750 * 100vw);
        margin-top: calc(40 / 750 * 100vw);

        .back-btn,
        .submit-btn {
          width: calc(240 / 750 * 100vw);
          height: calc(60 / 750 * 100vw);
          line-height: calc(60 / 750 * 100vw);
          border-radius: calc(10 / 750 * 100vw);
        }
      }
    }
  }
}


@media screen {
  #complete {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 30vh 0;

    .complete__container {
      padding: calc(60 / 750 * 100vw) calc(30 / 750 * 100vw);

      .complete__contents {
        width: 100%;
      }
    }

    .totop-btn {
      width: calc(360 / 750 * 100vw);
      height: calc(90 / 750 * 100vw);
      line-height: calc(90 / 750 * 100vw);
      margin: calc(40 / 750 * 100vw) auto 0;
    }
  }
}